@pref: Twilio-ChannelHeader;

.@{pref} {
    display: flex;
    flex: 0 0 auto;
    border-bottom-style: solid;
    border-bottom-color: #e6e6e6;
    border-bottom-width: 1px;
}

.@{pref}-Container {
    height: 52px;
    width: 100%;
}

.@{pref}-Logo {
    display: table;
    margin-left: 8px;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    height: 100%;
}

.@{pref}-LogoWrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    max-width: 60px;
    min-width: 36px;
}

.@{pref}-LogoImage {
    display: table-cell;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    margin: auto;
}

.@{pref}-Content {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 12px;
    margin-right: 12px;
    flex: 0 1 auto;
    overflow: hidden;
    display: flex;
}

.@{pref}-FirstLine {
    clear: both;
    color: #222222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}
