@component: Twilio-Chrome;

.@{themeName} {

    .@{component} {
        background-color: @channel-chrome-background-color;
    }

    .@{component}-Close {
        svg {
            stroke: @channel-chrome-svg-stroke;
        }
    }
}
