.import-channel() {
    @import './Channel.less';
}
.import-chrome() {
    @import './Chrome.less';
}
.import-header() {
    @import './Header.less';
}
.import-channel-item() {
    @import './ChannelItem.less';
}
.import-messagelist() {
    @import './MessageList.less';
}
.import-input() {
    @import './Input.less';
}

.import-channel();
.import-channel-item();
.import-chrome();
.import-header();
.import-messagelist();
.import-input();