@themeName: Twilio-MediumTheme;

@channel-chrome-background-color: #ffffff;
@channel-chrome-svg-stroke: #999999;

@channel-header-background: #ffffff;
@channel-header-border-bottom-width: 0px;
@channel-header-color: #222222;

@channel-root-background: #f3f3f3;
@channel-main-background: linear-gradient(to top, #f5f5f5, #ededed);

@input-field-background: #ffffff;
@input-field-color: #444444;
@input-placeholder-color: #999999;
@input-separator-line-background-color: #cccccc;

@send-button-background-color: #ffffff;
@send-button-color: #444444;
@send-button-overlay-color: #000000;

@avatar-background-color: #ffffff;
@avatar-color: #666666;

@bubble-container-others-background-color: #ffffff;
@bubble-container-others-header-color: #666666;
@bubble-container-others-body-color: #444444;

@bubble-container-me-background-color: #ccd2d8;
@bubble-container-me-header-color: #222222;
@bubble-container-me-body-color: #222222;

@typing-indicator-color: #666666;

@read-status-color: #666666;

@date-separator-line-color: #cccccc;
@date-separator-text-color: #222222;


@import './components/index.less';
